<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /VueTest
    RewriteRule ^VueTest/index.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /VueTest/index.html [L]
</IfModule>